@mixin global-header(
  $header-bg,
  $text-color,
  $icon-bg,
  $icon-size
) {
  padding-top: 32px;

  margin-bottom: 48px;
  background-color: $header-bg;
  color: $text-color;
  text-align: center;
  box-shadow: $box-shadow-base;

  .icon-container {
    @include size($icon-size);
    margin: 0 auto;
    border-radius: $icon-size / 2;
    background-color: $icon-bg;
    padding: 8px;

    > img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  .name-container {
    margin: 16px;

    h1 > a {
      border-bottom: 0;
      color: $text-color;
      font-size: $font-size-large;
      &:hover { border-bottom: 0; }
    }
  }
}

@mixin global-navigation(
  $height,
  $border-bottom-color,
  $link-color,
  $link-color-active
) {
  @keyframes nav-border-bottom {
    0% { border-bottom-color: rgba($border-bottom-color, 0); }
    100% { border-bottom-color: rgba($border-bottom-color, 1); }
  }

  margin: 32px auto 0;
  max-width: $content-width;

  > ul {
    @include list-unstyled;
    display: flex;
    font-size: $font-size-large;

    flex-direction: row;
    justify-content: space-around;
  }

  > ul > li {
    height: $height;

    flex-grow: 1;

    > a {
      display: block;
      border-bottom: 0;
      height: $height;
      color: $link-color;
    }

    &.active {
      > a { color: $link-color-active; }
    }

    &:hover > a,
    &:focus > a {
      animation: nav-border-bottom .3s ease-in;
      border-bottom: 4px solid $border-bottom-color;
    }
  }
}

.global-header {
  @include global-header(
    $header-bg,
    $header-text-color,
    $header-icon-bg,
    96px
  );

  nav {
    @include global-navigation(
      32px,
      $nav-indicator-color,
      $nav-link-color,
      $nav-link-active-color
    );
  }
}
