@mixin main(
  $main-width: $content-width
) {
  section {
    margin: 16px 0 32px;
  }

  h1,
  h2,
  h3 {
    margin-bottom: 8px;
  }

  h1 {
    @include before-text('#');
    border-bottom: 3px solid $gray-lighter;
    padding-bottom: 6px;
    font-size: $font-size-larger;
  }

  h2 {
    @include before-text('##');
    font-size: $font-size-large;
  }

  h3 {
    @include before-text('###');
  }

  h4 {
    @include before-text('####');
  }

  li {
    @include before-text('*');
    list-style: none;
  }

  .dl-with-bullet {
    > dt {
      @include before-text('*');
      font-weight: bold;
    }

    > dd {
      @include before-text('-');
      text-indent: 1em;
    }
  }

  .list-inline {
    @include list-inline;
    > li {
      &:before { content: none; }
      &:after { content: none; }
    }
  }

  .dl-horizontal {
    @include dl-horizontal(80px);
    > dt {
      font-weight: bold;
    }
  }
}

main {
  @include main;

  @include media($default-context) {
    @include span-columns(9);
  }

  @include media($mobile-context) {
    padding: 0 24px;
  }
}
