@mixin sidebar() {
  section {
    margin-bottom: 16px;
  }

  h1 {
    @include before-text('#');
    margin-bottom: 4px;
    font-weight: bold;
  }

  li {
    @include before-text('*');
    list-style: none;
  }
}

.sidebar {
  @include sidebar;

  @include media($default-context) {
    @include span-columns(3);
  }
}
