@import "./constants";
@import "sanitize.css";

@import "./patterns/page";

@import "./components/Header";
@import "./components/ContributionGraph";
@import "./components/PrimarySkills";
@import "./components/SecondlySkills";
@import "./components/Talks";

:root {
  background:
    linear-gradient(
      160deg,
      var(--color-primary-blue) 30%,
      var(--color-primary-pink) 100%
    );
  min-height: 100%;
  box-sizing: border-box;
  color: var(--color-text);
}

html,
body,
#container,
.container-app {
  min-height: 100%;
}

a {
  &:link,
  &:visited {
    color: var(--color-text);
    text-decoration: none;
    border-bottom: 1px dotted var(--color-text);
    padding: 0 3px;
  }
  &:hover,
  &:active {
    background-color: var(--color-primary-pink);
    border-bottom-style: solid;
  }
}
