@import "./constants";
@import "sanitize.css";

@import "./components/Header";
@import "./components/ContributionGraph";

:root {
  background:
    linear-gradient(
      160deg,
      var(--color-primary-blue) 30%,
      var(--color-primary-pink) 100%
    );
  min-height: 100%;
  box-sizing: border-box;
}

html,
body,
#container,
.container-app {
  min-height: 100%;
}
