// -- Size --------------------------------
$content-width:         960px;


// -- Colors --------------------------------
$text-color:            $gray;
$body-bg:               #fff;

$link-color:            $brand-accent;
$link-hover-color:      $link-color;

$header-bg:             $brand-primary;
$header-text-color:     #fff;
$header-icon-bg:        #fff;

$nav-link-color:        rgba($header-text-color, .5);
$nav-link-active-color: $header-text-color;
$nav-indicator-color:   $header-text-color;


// -- Typography --------------------------------
$font-family-base:      "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;

$font-size-base:        14px;
$font-size-larger:      ceil(($font-size-base * 1.7)); // ~24px
$font-size-large:       ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:       ceil(($font-size-base * .85)); // ~12px


// -- Media queries breakpoints --------------------------------
$screen-phone:         768px;
$screen-tablet:         768px;

$default-context:       new-breakpoint(min-width $screen-tablet);
$mobile-context:        new-breakpoint(max-width $screen-tablet);


// -- misc --------------------------------
$box-shadow-base:       0 1px 5px rgba(#000, .3);
