<section>
  <h1>Profile</h1>

  <section>
    <h2>Affiliation</h2>
    <ul>
      <li>Graduate student <a href="//lab.rekimoto.org">Rekimoto Lab.</a>, the University of Tokyo</li>
      <li>Engineer at <a href="//wantedly.com">Wantedly, Inc.</a></li>
      <li>Software Engineer of <a href="//t-kiz.org/">T-KIZ</a></li>
      <li>Co-founder of <a href="//codeforkosen.org">Code for KOSEN</a></li>
    </ul>
  </section>

  <section>
    <h2>Research Field</h2>
    <ul>
      <li>Human Computer Interaction</li>
      <li>Human Augmentation</li>
    </ul>
  </section>

  <section>
    <h2>Skills</h2>
    <section>
      <h3>Programming languages</h3>
      <ul class="list-inline">
        <li>Ruby</li>
        <li>Python</li>
        <li>JavaScript (TypeScript, ECMAScript 2015)</li>
        <li>CSS</li>
        <li>Golang</li>
        <li>Java</li>
        <li>C++</li>
      </ul>
    </section>

    <section>
      <h3>Frameworks</h3>
      <ul class="list-inline">
        <li>Ruby on Rails</li>
        <li>AngularJS</li>
        <li>openFrameworks</li>
      </ul>
    </section>

    <section>
      <h3>Programming environments</h3>
      <ul class="list-inline">
        <li>Android</li>
        <li>Arduino</li>
      </ul>
    </section>
  </section>

  <section>
    <h2>Biography</h2>
    <dl class="dl-horizontal">
      <dt>2008.04</dt>
      <dd>Entered National Institute of Technology, Akashi College</dd>
      <dt>2013.03</dt>
      <dd>Earned a associate degree from National Institute of Technology, Akashi College</dd>
      <dt>2013.04</dt>
      <dd>Entered Advanced course of National Institute of Technology, Akashi College</dd>
      <dt>2015.03</dt>
      <dd>Earned a bachelor's degree</dd>
      <dt>2015.04</dt>
      <dd>Entered master's cource of the University of Tokyo</dd>
    </dl>
  </section>
</section>
