<section>
  <h1 id="work">Work</h1>

  <section>
    <h2 id="work-experiences">Work Experiences</h2>

    <section>
      <h3 id="wantedly-inc"><a href="//www.wantedly.com">Wantedly, Inc.</a></h3>
      <p>Engineer (part-time) since Mar. 2015</p>
      <ul>
        <li>Web API implementation with Ruby on Rails</li>
        <li>Web API design with JSON Schema</li>
        <li>Web front-end implementation with AngularJS</li>
        <li>Web front-end markup and styling</li>
      </ul>
    </section>

    <section>
      <h3 id="dmet-label-corp"><a href="//www.wantedly.com">Dmet label Corp.</a></h3>
      <p>Engineer (part-time) since Sep. 2014 - Feb. 2015</p>
      <ul>
        <li>Web backend implementation with Ruby on Rails</li>
        <li>Web front-end implementation with AngularJS</li>
        <li>Web front-end markup and styling</li>
      </ul>
    </section>

    <section>
      <h3 id="teamlab-inc"><a href="//www.team-lab.com/">teamLab Inc.</a></h3>
      <p>Engineer (internship, part-time) since Sep. 2013, Mar. 2014 - Apr. 2014</p>
      <ul>
        <li>Web backend implementation with Ruby on Rails</li>
        <li>Web backend implementation with Pyramid</li>
        <li>Web front-end implementation with Backbone.js</li>
        <li>Web front-end markup and styling</li>
      </ul>
    </section>
  </section>

  <section>
    <h2 id="oss">OSS</h2>

    <section>
      <h3 id="ruby">Ruby</h3>
      <dl class="dl-with-bullet">
        <dt><a href="//github.com/izumin5210/rspec-validator_spec_helper">rspec-validator_spec_helper</a></dt>
        <dd>Provide dummy class for validator spec.</dd>
        <dt><a href="//github.com/izumin5210/ruboty-shinchoku">ruboty-shinchoku</a></dt>
        <dd>How is shinchoku?</dd>
        <dt><a href="//github.com/izumin5210/ruboty-pi_gpio">ruboty-pi_gpio</a></dt>
        <dd>Control GPIO of Raspberry PI via <a href="//github.com/r7kamura/ruboty">Ruboty</a></dd>
        <dt><a href="//github.com/izumin5210/tumblr-random_image">tumblr-random_image</a></dt>
        <dd>Get random images from tumblrs.</dd>
        <dt><a href="//github.com/izumin5210/font-awesome-helper">font-awesome-helper</a></dt>
        <dd>Useful helper for Font Awesome.</dd>
      </dl>
    </section>

    <section>
      <h3 id="javascript">JavaScript</h3>
      <dl class="dl-with-bullet">
        <dt><a href="//github.com/izumin5210/json-schema-mockifier">json-schema-mockifier</a></dt>
        <dd>Generate mock object from JSON Schema (HyperSchema v4).</dd>
        <dt><a href="//github.com/izumin5210/json-schema-parser">json-schema-parser</a></dt>
        <dd>Parse JSON Schema and resolve $ref fields.</dd>
      </dl>
    </section>

    <section>
      <h3 id="android">Android</h3>
      <dl class="dl-with-bullet">
        <dt><a href="//github.com/YUKAI/konashi-android-sdk">konashi Android SDK</a></dt>
        <dd>konashi(physical computing toolkit for smartphones and tablets) SDK for Android.</dd>
        <dt><a href="//github.com/izumin5210/ViewBorderHelper">ViewBorderHelper</a></dt>
        <dd>Provides CSS-like border style to your custom views CSS-like border style to your custom views.</dd>
      </dl>
    </section>
  </section>

  <section>
    <h2 id="talks-and-lightning-talks">Talks &amp; Lightning Talks</h2>

    <section>
      <h3 id="talks">Talks</h3>
      <ul>
        <li>
          Masayuki IZUMI:
          &quot;<a href="//speakerdeck.com/izumin5210/client-development-using-json-schema-number-kanrk06"><strong>API server/client development using JSON Schema</strong></a>&quot;,
          <a href="//regional.rubykaigi.org/kansai06/">Kansai RubyKaigi 06</a>,
          11th, July, 2015
        </li>
      </ul>
    </section>

    <section>
      <h3 id="lightning-talks">Lightning Talks</h3>
      <ul>
        <li>
          Masayuki IZUMI:
          &quot;<a href="//speakerdeck.com/izumin5210/ble-is-afraid"><strong>こわくないBLE / BLE is afraid</strong></a>&quot;,
          第48回 情報科学若手の会,
          20th, Sep., 2015
        </li>
        <li>
          Masayuki IZUMI:
          &quot;<a href="//speakerdeck.com/izumin5210/promisified-ble-client"><strong>Promisified BLE Client</strong></a>&quot;,
          <a href="//connpass.com/event/18732/">potatotips #21</a>,
          16th, Sep., 2015
        </li>
        <li>
          Masayuki IZUMI:
          &quot;<a href="//speakerdeck.com/izumin5210/tsurai-ble-on-android"><strong>つらくない（？） Bluetooth Low Energy on Android / TSURAI BLE on Android</strong></a>&quot;,
          <a href="//kyobashi-android.connpass.com/event/18583/">kyobashi.dex #1</a>,
          7th, Sep., 2015
        </li>
        <li>
          Masayuki IZUMI:
          &quot;<a href="//speakerdeck.com/izumin5210/iot-of-us-by-us-for-us"><strong>俺たちの俺たちによる俺たちのためのIoT / IoT of us, by us, for us</strong></a>&quot;,
          <a href="//regional.rubykaigi.org/tokyu09/">Tokyu RubyKaigi 09</a>,
          29th, Aug., 2015
        </li>
        <li>
          Masayuki IZUMI:
          &quot;<a href="//speakerdeck.com/izumin5210/why-dont-you-use-enum"><strong>Why don't you use enum ?</strong></a>&quot;,
          <a href="//connpass.com/event/17624/">potatotips #20</a>,
          11th, Aug., 2015
        </li>
         <li>
          Masayuki IZUMI:
          &quot;<a href="//speakerdeck.com/izumin5210/introduction-to-apt"><strong>Introduction to APT</strong></a>&quot;,
          <a href="//connpass.com/event/16295/">potatotips #19</a>,
          14th, July, 2015
        </li>
        <li>
          Masayuki IZUMI:
          &quot;<a href="//speakerdeck.com/izumin5210/border-left-1dp-solid-number-666666"><strong>border-left: 1dp solid #666666;</strong></a>&quot;,
          <a href="//connpass.com/event/14143/">potatotips #17</a>,
          13th, May, 2015
        </li>
      </ul>
    </section>

    <section>
      <h3 id="other-events">Other Events</h3>
      <ul>
        <li>
          Masayuki IZUMI:
          &quot;<a href="//speakerdeck.com/izumin5210/introduction-to-json-schema"><strong>Introduction to JSON Schema</strong></a>&quot;,
          <a href="//wantedly.connpass.com/event/17532/">JSON Schema速習会</a>,
          16th, July, 2015
        </li>
      </ul>
    </section>
  </section>
</section>

